<header>
    <a href="/user/<%= id %>">Books</a>
    <a href="/user/<%= id %>/update">Update</a>
    <a href="/user/<%= id %>/delete">Delete</a>
    <a href="/user/<%= id %>/add">Add</a>
    <span style="font-size: 30px; margin-right: 20px; margin-top: 10px;">
      bilgi
   </span>
</header>