<header>
   <a href="/">Books</a>
   <a href="/update">Update</a>
   <a href="/delete">Delete</a>
   <a href="/add">Add</a>
   <span style="font-size: 30px; margin-right: 20px; margin-top: 10px;">
      <%=user.username %>
   </span>
</header>