<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header-style.css">
    <link rel="stylesheet" href="/book-form.css">
    <title>Document</title>
</head>

<body>
    <%-include('./inc/header')%>
    <form action="/" method="post">
        <label for="isbn">İSBN</label>
        <input type="number" name="isbn" maxlength="10" required>
        <button name="delete">Delete</button>
    </form>
</body>

</html>