<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head.ejs') %>
</head>
<body>
    <h1 class="d-flex justify-content-center mt-5 text-uppercase">Login</h1>
    <form action="/login" method="post">
        <label for="" class="form-label"s>Username</label>
        <input type="text" name="username" id="" class="form-control">
        <label for="" class="form-label mt-3">Password</label>
        <input type="password" name="password" id="" class="form-control">
        <div class="d-flex .align-items-center mt-3">
            <button class="btn-register btn-secondary "><a href="/register">have an account</a></button>
            <button class="btn btn-primary ">Logın</button>
        </div>
    </form>
</body>
</html>