form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
form label{
    font-weight: 500;
    letter-spacing: .5px;
}
.btn {
    display: block;
    width: 100px;
    height: 40px;
    margin-left: auto;
}
.btn-register{
    width: 150px;
    margin-right: auto;
    border: none;
    border-radius: .25rem;
}
.btn-login{
    margin-right: auto;
    margin-left: 0;
}
.btn-register a, .btn-login a{
    text-decoration: none;
    color: #ffff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}