.book-update{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.book-update form{
    margin: 0;
    margin-left: 10px;
}
.book-update .img-book img{
    font-size: 350px;
    width: 1,2em;
    height: 1em;
}
.book-update form textarea{
    width: 700px;
    height: 300px;
}
.book-update form span{
    font-weight: 500;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 
