* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.books {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.books article {
    width: 15rem;
    height: 30rem;
    border: none;
    margin: 10px;
}
.books article .card-body{
    padding-bottom:0 ;
}
.books article .card-title {
    letter-spacing: 1px;
}
article a{
    text-decoration: none;
}

.books article .btn-details{
    display: block;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin: auto;
} 