<!DOCTYPE html>
<html lang="en">
    <%-include('../inc/head.ejs') %>

<body>
    <%-include('../inc/header')%>
        <form action="/user/<%= id %> /update" method="POST">
            <label for="isbn">İSBN</label>
            <input type="number" name="isbn" maxlength="10" required>
            <button>Update</button>
        </form>
</body>

</html>