<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('../inc/head.ejs') %>
    </head>

<body>
    <%-include('../inc/header')%>
        <form action="/user/<%= id %> /update" method="POST">
            <label for="isbn" class="form-label mt-3">İSBN</label>
            <input type="number" name="isbn" class="form-control " required>
            <button class="btn btn-secondary mt-3">Update</button>
        </form>
</body>

</html>