<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../inc/head.ejs') %>
</head>
<body>
    <%-include('../inc/header')%>
        <form action="/user/<%= id %> /add" method="post">
            <label for="" class="form-label mt-3">İSBN</label>
            <input type="number" name="isbn"  class="form-control mb-3 " required>
            <label for="" class="form-label">Book Name</label>
            <input type="text" name="title"  class="form-control mb-3" required>
            <label for="" class="form-label">Book Authors</label>
            <input type="text" name="authors"  class="form-control mb-3" required>
            <label for="" class="form-label">Book Page</label>
            <input type="number" name="pageCount"  class="form-control mb-3" required>
            <label for="" class="form-label">Book Category</label>
            <input type="text" name="categories"  class="form-control mb-3" required>
            <label for="" class="form-label">Publish Date</label>
            <input type="date" name="publishedDate"  class="form-control mb-3" required>
            <label for="" class="form-label">Description</label>
            <textarea name="longDescription" cols="30" rows="10" class="form-control mb-3" required></textarea>
            <button class="btn-add btn btn-secondary">Add</button>
        </form>
</body>

</html>