<!DOCTYPE html>
<html lang="en">
    <%-include('../inc/head.ejs') %>
<body>
    <%-include('../inc/header')%>
        <form action="/user/<%= id %>/delete" method="post">
            <label for="isbn">İSBN</label>
            <input type="number" name="isbn" maxlength="10" required>
            <button>Delete</button>
        </form>
</body>

</html>